---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import Education from '../components/Education.astro';
import SectionContainer from '../components/SectionContainer.astro';
import EducationIcon from '../components/icons/EducationIcon.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de DieGonzalezDev - Desarrollador de Software" description="Gracias por visitar mi portfolio, encontraras mis skills, mis proyectos y medios de contacto. ">
	<main class="px-4">
		<SectionContainer id="sobre-mi" class="py-44 pb-32 min-h-[90vh]">
			<img class="rounded-full size-14 mb-4" src="https://drive.google.com/uc?export=view&id=1sie9bj3VN3T4QXMS5iG4E3LU8-YOFYk2" alt="diegonzalez dev photo">
			<h1 class="text-white text-3xl md:text-4xl xl:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola👋 soy Diego Gonzalez <a href="https://www.linkedin.com/in/diegongonzalez/" target="_blank" class="flex just items-center"><Badge class="text-pretty">Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
				<span class="text-indigo-300/90">Desarrollador y estudiante de Tecnicatura en Programación.</span> <span class="text-amber-200/90 dark:text-amber-800/90 " >Soy de Buenos Aires, Argentina.</span> <span class="text-white opacity-90">En este sitio vas a encontrar mis proyectos, artículos y más.</span>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/diegongonzalez/">
					<LinkedinIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/DiegoNGonzalez">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:diegonzalezdev@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					diegonzalezdev@gmail.com
				</SocialPill>
			</nav>
			<ul>
				<li>
					
				</li>
			</ul>
		</SectionContainer>
		<SectionContainer id="educacion" class="py-28 pb-28 min-h-[90vh]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-black/80 text-white/80">
				<EducationIcon class="size-7" />
				Educación
			</h2>
			<Education />
		</SectionContainer>
		<SectionContainer id="proyectos" class="py-28 pb-28 min-h-[90vh]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-black/80 text-white/80">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
			
	</main>
</Layout>


